{%
    extends 'base.html'
%}

{% block title %}
    О нас
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <h1>Страница о нас</h1>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Accusamus debitis est laboriosam quo?</li>
        <li>Dolorum expedita harum modi voluptatibus!</li>
        <li>Aliquid consectetur eveniet magnam numquam!</li>
        <li>Autem beatae commodi molestiae repudiandae.</li>
        <li>Corporis dolores ipsum mollitia soluta.</li>
        <li>Aperiam libero molestias repellat repellendus!</li>
        <li>Atque consequuntur nisi placeat sapiente?</li>
        <li>Et iure laboriosam provident sint.</li>
        <li>Doloribus labore quam repellat sed.</li>
        <li>Eos explicabo iste quibusdam ullam.</li>
        <li>Dolores fugit natus nostrum recusandae.</li>
        <li>Cumque eius eos fugit quia.</li>
        <li>Alias aspernatur libero mollitia suscipit.</li>
        <li>Aperiam eos in quasi quibusdam?</li>
        <li>Harum ipsam nihil obcaecati quo?</li>
        <li>Inventore officiis pariatur quo unde?</li>
        <li>Aspernatur obcaecati quisquam quos rerum.</li>
        <li>Dolor doloribus odio possimus quae.</li>
        <li>Fuga laborum magni minima voluptatum!</li>
        <li>Aliquid impedit ipsam modi similique?</li>
        <li>Debitis earum ipsam officia sequi.</li>
        <li>Debitis placeat quod soluta velit?</li>
        <li>Iusto nihil recusandae repudiandae vero.</li>
        <li>Alias assumenda esse nesciunt sint?</li>
        <li>A dignissimos facilis impedit ratione!</li>
        <li>Error, iste, porro? Iure, minima?</li>
        <li>Aliquam consequatur fugit odio porro.</li>
        <li>Asperiores corporis ea quis sequi.</li>
        <li>Amet animi expedita in vitae!</li>
        <li>Consequatur laudantium molestias soluta velit.</li>
        <li>Beatae cupiditate ipsum magnam sed.</li>
        <li>Dolor eum possimus soluta unde.</li>
        <li>Ad consectetur cupiditate dignissimos ut.</li>
        <li>Alias excepturi reprehenderit sunt voluptas!</li>
        <li>Ad maxime non quia reprehenderit?</li>
        <li>Alias esse exercitationem laudantium nostrum?</li>
        <li>Aliquid architecto quibusdam ratione vero.</li>
        <li>Necessitatibus neque odit quisquam velit!</li>
        <li>Corporis earum omnis veritatis voluptas.</li>
        <li>Deserunt distinctio fugiat maiores totam.</li>
        <li>Autem debitis ipsum provident repellendus!</li>
        <li>Adipisci deserunt illo officia quod.</li>
        <li>Consectetur harum laborum nemo rerum!</li>
        <li>Consequatur ducimus eum molestiae perferendis?</li>
        <li>Aliquam earum iusto rerum vitae!</li>
        <li>Autem eos praesentium provident ullam.</li>
        <li>Eligendi esse illo libero voluptates.</li>
        <li>Eos quaerat sed tempore veritatis?</li>
        <li>Ab blanditiis et nulla rerum.</li>
        <li>Aliquid dolor iusto nostrum sint!</li>
        <li>Accusamus debitis deleniti harum necessitatibus.</li>
        <li>A dolore dolores quia sequi?</li>
        <li>Commodi dolor laboriosam soluta velit!</li>
        <li>At eos sed veritatis voluptatum?</li>
        <li>Beatae distinctio facilis similique ullam.</li>
        <li>Doloremque itaque nobis quasi voluptate?</li>
        <li>Culpa eos iste soluta vitae.</li>
        <li>Dolorum eos sapiente similique voluptatum.</li>
        <li>Ducimus labore repellendus sapiente ut.</li>
        <li>Corporis culpa iusto recusandae rem!</li>
        <li>Dicta est nihil quae quam.</li>
        <li>Eum libero magni officiis placeat.</li>
        <li>Aspernatur deserunt inventore necessitatibus tempore.</li>
        <li>Accusantium delectus deserunt ducimus sunt?</li>
        <li>Aperiam corporis maxime quo rerum!</li>
        <li>Ab autem fuga ipsa maxime.</li>
        <li>Commodi dolor maiores numquam tempora?</li>
        <li>Consequatur deleniti possimus reiciendis sunt.</li>
        <li>Excepturi iure minus mollitia voluptates?</li>

    </div>
</body>
{% endblock %}