{%
    extends 'base.html'
%}


{% block title %}
    Главная
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <h1>Главная страница</h1>
        {{ pageTitle | safe }}
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Aliquam beatae eius expedita maiores?</li>
        <li>Cum numquam recusandae saepe voluptate.</li>
        <li>Alias minima omnis tempore temporibus.</li>
        <li>A dicta eligendi error qui.</li>
        <li>Adipisci exercitationem numquam officia voluptas?</li>
        <li>Commodi earum fuga repellat unde.</li>
        <li>Earum numquam quisquam sunt velit?</li>
        <li>Consequuntur ipsa mollitia officiis repudiandae.</li>
        <li>Dicta libero nam nobis sed!</li>
        <li>Dolor libero magni rem tempore.</li>
        <li>Atque consequatur enim eveniet id!</li>
        <li>Consequuntur dolor fuga tempora voluptates.</li>
        <li>At fugiat libero minus quasi.</li>
        <li>Earum officiis suscipit velit voluptate!</li>
        <li>Alias harum iusto rerum suscipit.</li>
        <li>Autem beatae distinctio laboriosam officiis?</li>
        <li>Aperiam enim facilis laudantium veritatis?</li>
        <li>Ipsa neque possimus praesentium sapiente.</li>
        <li>Aspernatur cumque dolore libero neque?</li>
        <li>Blanditiis corporis harum id nesciunt?</li>
        <li>Beatae iusto minima perspiciatis tempore.</li>
        <li>Architecto eum optio ullam velit!</li>
        <li>Consectetur itaque odit sunt voluptas?</li>
        <li>Dolore facilis maiores nihil non!</li>
        <li>Ipsam nostrum, quis? Excepturi, non?</li>
        <li>Alias ipsum libero omnis pariatur.</li>
        <li>Accusamus eaque enim quae reprehenderit!</li>
        <li>Ea eius explicabo modi quasi.</li>
        <li>Assumenda numquam quisquam saepe vero.</li>
        <li>Autem labore minima quam similique?</li>
        <li>Dolorum fuga magnam molestias neque.</li>
        <li>Ad aut autem dicta doloremque!</li>
        <li>Aut error harum ipsa maxime?</li>
        <li>Fuga itaque quibusdam quidem sequi?</li>
        <li>Esse est expedita fugiat optio.</li>
        <li>Exercitationem explicabo nemo pariatur quae?</li>
        <li>Deleniti minus molestias quia vitae.</li>
        <li>A impedit mollitia quod voluptatum!</li>
        <li>Deserunt quas rerum tempore voluptatem.</li>
        <li>Eos mollitia nemo nostrum rem!</li>
        <li>Deleniti fugit impedit tenetur velit.</li>
        <li>Animi ex facere natus tempora!</li>
        <li>Harum incidunt ipsa iusto repellat.</li>
        <li>Dolores reprehenderit velit vero voluptatibus.</li>
        <li>Beatae cumque doloremque porro totam!</li>
        <li>Accusamus aliquam dignissimos illo possimus!</li>
        <li>Blanditiis fuga ipsam porro voluptatum!</li>
        <li>Provident repellendus sit voluptate voluptatem?</li>
        <li>Doloremque impedit nostrum qui suscipit?</li>
        <li>Laudantium perspiciatis quasi quis sit.</li>
        <li>Blanditiis illum molestias obcaecati officiis.</li>
        <li>Accusantium ea quas ratione reprehenderit!</li>
        <li>Alias assumenda ipsam nisi voluptate.</li>
        <li>Aliquam architecto iste officiis repudiandae?</li>
        <li>Atque nobis porro quo sint!</li>
        <li>Aperiam doloremque earum nobis sed.</li>
        <li>Dignissimos dolorum ipsa unde veritatis.</li>
        <li>Aliquam molestias reprehenderit totam veritatis.</li>
        <li>Adipisci eaque earum harum possimus?</li>
        <li>Consequuntur nam non quidem vero.</li>
        <li>Commodi fugiat nostrum obcaecati velit.</li>
        <li>Beatae doloremque inventore magnam quis.</li>
        <li>Dolore dolorem ipsa optio sit?</li>
        <li>Accusamus labore neque optio quasi!</li>
        <li>Dicta expedita fuga officiis sapiente?</li>
        <li>Earum expedita illo inventore iure?</li>
        <li>Est eveniet hic qui ratione?</li>
        <li>Ab itaque maiores odit tempora?</li>
        <li>Cumque est fuga omnis quis.</li>
    </div>
</body>

{% endblock %}